@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* For Results Summary */
.reaction {
  background-color: hsl(var(--rs-light-red) / 0.1);
  color: hsl(var(--rs-light-red));
}
.memory {
  background-color: hsl(var(--rs-orange-yellow) / 0.1);
  color: hsl(var(--rs-orange-yellow));
}
.verbal {
  background-color: hsl(var(--rs-green-teal) / 0.1);
  color: hsl(var(--rs-green-teal));
}
.visual {
  background-color: hsl(var(--rs-cobalt-blue) / 0.1);
  color: hsl(var(--rs-cobalt-blue));
}

.speech-bubble {
  position: relative;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.speech-bubble::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  right: 0;
  border: 1.5rem solid transparent;
  border-right: 1rem;
  border-bottom-color: white;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}

@layer base {
  :root {
    --light-gray: 212deg 45% 89%;
    --gray-blue: 220 15% 55%;
    --dark-blue: 218 44% 22%;
    --pr-dark-cyan: 158 36% 37%;
    --pr-cream: 30 38% 92%;
    --pr-dark-blue: 212 21% 14%;
    --pr-dark-grayish-blue: 228 12% 48%;

    --rs-light-red: 0 100% 67%;
    --rs-orange-yellow: 39 100% 56%;
    --rs-green-teal: 166 100% 37%;
    --rs-cobalt-blue: 234 85% 45%;
    --rs-light-slateblue: 252 100% 67%;
    --rs-light-royalblue: 241 81% 54%;
    --rs-violetblue: 256, 72%, 46%;
    --rs-persianblue: 241, 72%, 46%;
    --rs-paleblue: 221 100% 96%;
    --rs-light-lavender: 241 100% 89%;
    --rs-dark-grayblue: 224 30% 27%;

    --ac-purple: 259 100% 65%;
    --ac-lightred: 0 100% 67%;
    --ac-offwhite: 0 0% 94%;
    --ac-lightgrey: 0 0% 86%;
    --ac-smokeygrey: 0 1% 44%;
    --ac-offblack: 0 0% 8%;

    --ss-red: 0 99% 70%;
    --ss-yellow: 51 100% 49%;
    --ss-darkcyan-500: 167 40% 24%;
    --ss-darkcyan-300: 198 62% 26%;
    --ss-darkcyan-100: 168 34% 41%;
    --ss-darkblue-500: 212 27% 19%;
    --ss-darkblue-300: 213 9% 39%;
    --ss-darkblue-100: 232 10% 55%;
    --ss-grayblue: 210 4% 67%;
  }
}
